{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <form>
            <table align="center" style="padding:20px; margin: 20px;">
                <tr>
                    <td><label>Host name</label></td>
                    <td><input type="text" id="hostname"></td>
                </tr>

                <tr>
                    <td><input type="button" value="ADD" onclick="addRecord()"/></td>
                    <td><input type="button" value="BACK" onclick="home()"/></td>
                </tr>
            </table>
        </form>
    </div>
    <script type="text/javascript">
        function home() {
            URL = 'http://127.0.0.1:8000/fetch_router/';
            location.replace(URL);
        }
        function addRecord() {
            var hostname = document.getElementById('hostname').value;
            var data = {
                'hostname' : hostname,

            };
            var payload = JSON.stringify(data);
            $.ajax({
                url: 'http://127.0.0.1:8000/',
                data: payload,
                method: 'POST',
                success: function (data, status) {
                    alert('Record added successfully');
                    home();
                }, error: function (data, status) {
                    alert(data);
                    console.log(data);
                    console.log(status);
                }
            });
        }
    </script>
{% endblock %}
